/* Importación de fuentes (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
    background-color: #000000;
}

/* Estilos del encabezado */
header {
    background: url(/img/fondo4.JPG) no-repeat center;
    margin: 0;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 1;
}

/* Estilos de la barra de navegación */
nav.navbar {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logo img {
    max-width: 100%;
    max-height: 75px;
    margin-right: 20px;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7), -5px -5px 15px rgba(10, 25, 47, 0.7);
}

.navbar h1 {
    margin: 0;
    color: #000000;
    font-size: 24px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 10px;
}

.navbar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
    background: #1E90FF;
    transform: scale(1.05);
}

/* Estilos de los títulos */
h2.title {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Estilos de los párrafos */
p {
    margin-bottom: 30px;
    font-size: 1rem;
    color: #E0E0E0;
    line-height: 1.6;
    padding: 0 20px;
}

/* Estilos de los botones */
a.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
    border: 2px solid #1E90FF;
    background-color: #1E90FF;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    margin: 0 10px;
}

a.btn:hover {
    color: #1E90FF;
    background-color: transparent;
}

/* Estilos de la sección de inicio */
section#inicio.hero {
    background-color: #000000;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px; /* Ajuste para la altura de la barra de navegación fija */
}

section#inicio.hero p {
    max-width: 800px;
    margin: 20px auto 0;
}

/* Estilos de la sección "Quiénes Somos" */
section#quienes-somos.about {
    background-color: #000000;
    color: #FFFFFF;
    padding: 40px 20px;
}

.methodology-container {
    display: flex; /* Dispone los bloques uno al lado del otro */
    flex-wrap: wrap; /* Permite que los bloques se envuelvan si no hay suficiente espacio */
    justify-content: center; /* Centra los bloques horizontalmente */
    gap: 20px; /* Espacio entre los bloques */
}

.methodology-item {
    background-color: #1C1C1C; /* Fondo del recuadro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7), -5px -5px 15px rgba(10, 25, 47, 0.7); /* Borde difuminado negro y azul oscuro */
    text-align: center;
    max-width: 300px; /* Ancho máximo de cada bloque */
}

.methodology-item h3 {
    color: #1E90FF;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.methodology-item img {
    width: 100%; /* La imagen ocupa todo el ancho del recuadro */
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px; /* Espacio entre la imagen y la descripción */
    transition: transform 0.3s ease-in-out; /* Transición para el efecto hover */
}

.methodology-item img:hover {
    transform: scale(1.05); /* Ligeramente más grande al pasar el mouse */
}

.methodology-item p {
    color: #E0E0E0;
    font-size: 1rem;
    margin: 0;
}

/* Estilos de la sección de servicios */
section#servicios.services {
    padding: 40px 20px;
    background-color: #000000;
}

.services-container {
    display: flex; /* Dispone los bloques uno al lado del otro */
    flex-wrap: wrap; /* Permite que los bloques se envuelvan si no hay suficiente espacio */
    justify-content: center; /* Centra los bloques horizontalmente */
    gap: 20px; /* Espacio entre los bloques */
}

.service-detail {
    background-color: #1C1C1C; /* Fondo del recuadro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7), -5px -5px 15px rgba(10, 25, 47, 0.7); /* Borde difuminado negro y azul oscuro */
    text-align: center;
    max-width: 300px; /* Ancho máximo de cada bloque */
}

.service-detail h3 {
    color: #1E90FF;
    font-size: 2rem;
    margin-bottom: 10px;
}

.service-detail img {
    width: 100%; /* La imagen ocupa todo el ancho del recuadro */
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px; /* Espacio entre la imagen y la descripción */
    transition: transform 0.3s ease-in-out; /* Transición para el efecto hover */
}

.service-detail img:hover {
    transform: scale(1.05); /* Ligeramente más grande al pasar el mouse */
}

.service-detail p {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #E0E0E0;
    font-size: 1rem;
}

/* Estilos de la sección de contacto */
section#contacto.contact {
    background-color: #000000;
    color: #FFFFFF;
    padding: 40px 20px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.contact-info,
.contact-form-container {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1;
    min-width: 300px;
    text-align: left;
}

.contact-info h3,
.contact-form-container h3 {
    color: #000000;
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
}

.contact-info p {
    color: #000000;
    margin-bottom: 15px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    padding: 0;
}

.contact-info p i {
    margin-right: 10px;
    color: #1E90FF;
    font-size: 1.3rem;
}

.social-links {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    color: #000000;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    padding: 0;
}

.social-links a:hover {
    color: #1E90FF;
}

.social-links a i {
    margin-right: 8px;
    font-size: 1.5rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #1E90FF;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 1rem;
    box-sizing: border-box;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #000000; /* Cambia el color de las letras del formulario a negro */
}

.contact-form button {
    width: 100%;
    padding: 12px 20px;
    background-color: #1E90FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0A192F;
}

figure.map {
    margin-top: 40px;
}

figure.map img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos del pie de página */
footer {
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

/* Estilos del enlace fijo de WhatsApp */
#whatsapp-fixed-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

#whatsapp-fixed-link:hover {
    transform: scale(1.1);
}

#whatsapp-fixed-link img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
}

/* Media Queries para Responsividad */
@media (max-width: 992px) {
    .navbar h1 {
        font-size: 20px;
    }

    .navbar a {
        font-size: 18px;
        padding: 8px 12px;
    }

    h2.title {
        font-size: 2.5rem;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-info,
    .contact-form-container {
        width: 90%;
        max-width: 500px;
    }

    .methodology-container,
    .services-container {
        flex-direction: column; /* Apila los bloques en pantallas más pequeñas */
        align-items: center; /* Centra los bloques en pantallas más pequeñas */
    }

    .methodology-item,
    .service-detail {
        width: 90%; /* Los bloques ocupan más ancho en pantallas pequeñas */
        max-width: none; /* Elimina el ancho máximo en pantallas pequeñas */
    }
}

@media (max-width: 768px) {
    h1.main-title {
        font-size: 2rem;
    }

    h2.title {
        font-size: 2rem;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .navbar li {
        margin: 5px 0;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        height: auto;
    }

    .logo {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .navbar h1 {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    h1.main-title {
        font-size: 1.5rem;
        padding: 0 10px;
    }

    h2.title {
        font-size: 1.8rem;
    }

    p {
        font-size: 0.9rem;
        padding: 0 10px;
    }

    .navbar ul {
        align-items: center;
    }

    .navbar a {
        font-size: 16px;
    }

    .contact-info,
    .contact-form-container {
        padding: 20px;
    }

    .contact-info p {
        font-size: 1rem;
    }

    .social-links a {
        font-size: 1rem;
    }

    .social-links a i {
        font-size: 1.2rem;
    }

    .service-content img {
        width: 100px;
        height: 100px;
    }

    #whatsapp-fixed-link img {
        width: 50px;
        height: 50px;
    }
}